[submodule "roles/newrelic_java_agent"]
	path = roles/newrelic_java_agent
	url = https://github.com/newrelic/newrelic-java-agent-ansible-role
[submodule "roles/newrelic-infra"]
	path = roles/newrelic-infra
	url = https://github.com/newrelic/infrastructure-agent-ansible
